body{
	background: #F5F5F5;
}
/* head开始 */
.head{
	background: #333333;
	width: 100%;
	height:40px;
}
.head-con{
	width:1226px;
	height:100%;
	margin:0px auto;
}
.head-left{
	height:100%;
	float:left;
	text-align:center;
	line-height:40px;
}
.head-left .text{
	float:left;
	color:#b0b0b0;
	font-size:14px;
}
.head-left .text:hover{
	color: #fff;
}
.head-left .line{
	float:left;
	height:14px;
	color:#35393f;
	margin:0 7px;
}
.head-right{
	height:100%;
	float:right;
	font-size:14px;
}
.head-car{
	background:#424242;
	width:104px;
	height:100%;
	float: right;
	text-align:center;
	line-height:40px;
	color:#b0b0b0;
}
.head-car:hover{
	color: #ff6700;
	background: #fff;
}
.head-right .text-box{
	height:100%;
	float:right;
	margin-right: 25px;
}
.head-right .text{
	height:100%;
	float:left;
	text-align:center;
	line-height:40px;
	color:#b0b0b0;
}
.head-right .text:hover{
	color: #fff;
}
.head-right .line{
	float:left;
	height:14px;
	color:#3c423c;
	margin:0 7px;
	text-align:center;
	line-height:40px;
}
/* head结束 */
/* 导航开始 */
.nav-big-box{
	width:100%;
	height:100px;
	background: #fff;
}
.daohang{
	width:1226px;
	height:100px;
	margin: 0px auto;
	background: #fff;
}
.daohang .logo{
	width:55px;
	height:55px;
	background: #ff6700;
	float:left;
	margin-top: 22.5px;
}
.daohang .logo img{
    margin: 22.5px 0;
	margin: 3px 3px;
}
.daohang .daohang-con{
	height:100%;
	float:left;
	margin-left:50px;
}
.daohang .daohang1{
	float:left;
	text-align:center;
	line-height:100px;
	margin:0 10px;
	color:#333333;
	font-size:16px;
}
.daohang .daohang1:hover{
	color: red;
	cursor: pointer;
}
.daohang .sousuo{
	height:48px;
	border:1px solid #e0e0e0;
	float:right;
	margin:25px 0;
	position: relative;
}
.sousuo input{
	width:244px;
	height:48px;
	float:left;
	border-style: none;
	box-sizing: border-box;
	outline: none;
	padding-left: 10px;
	box-sizing: border-box;
}
.daohang .sousuo:hover{
	border:1px solid #b0b0b0;
	cursor:pointer;
}
.daohang .sousuo:hover .sousuo-right{
	border-left:1px solid #b0b0b0;
	cursor:pointer;
}
.sousuo-tishi{
	width: 200px;
	height: 18px;
	position:absolute;
	top:15px;
	right:48px;
	line-height: 18px;
}
.sousuo-tishi span{
	font-size: 12px;
	color: #9e9e9e;
	background: #eeeeee;
	padding: 1px 2px;
}
.sousuo-tishi span:hover{
	color: #fff;
	background: #ff6700;
	cursor: pointer;
}
.sousuo-tishi .tishi1{
	margin: 0 5px;
}
.sousuo .sousuo-right{
	width:48px;
	height:100%;
	border-left:1px solid #e0e0e0;
	float:left;
	text-align: center;
	line-height: 48px;
	outline: none;
	box-sizing: border-box;
}
.sousuo .sousuo-right:hover{
	color: #fff;
	background: #ff6700;
	cursor: pointer;
}
/* 导航结束 */
/* 分类推荐开始 */
.category-title{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
	line-height: 40px;
}
.category-title p{
	float: left;
	font-size: 12px;
	color: #757575;
}
.category-title i{
	float: left;
	font-size: 10px;
	color: #b0b0b0;
	margin: 0 5px;
}
/* 商品详情开始 */
.goods-detail-info{
	width: 1226px;
	height: 687px;
	background: yellow;
	margin: 0 auto;
}
.goods-detail-info .img-small{
	width: 60px;
	height: 60px;
	border: 1px solid #ff6700;
	padding: 4px;
	background:#fff;
}
.goods-detail-info .img-small img{
	width: 60px;
	height: 60px;
}
/* 商品详情结束 */